.Top-head {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

header {
    display: grid;
    grid-template-columns: auto 5em 5em;
    grid-template-rows: 3;
    margin: 0 10em 13em 10em;
    column-gap: 3em;
}

.grid-item {
    width: 7em;
    margin-top: 25px;
    height: 45%;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(244, 242, 242);
    font-size: 15px;
    text-align: center;
}


.grid-item option {
    color: black
}

.grid-item-1 {
    width: 7em;
    margin-top: 25px;
    height: 45%;
    border-radius: 5px;
    color: white;
    background-color: #E50914;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: none;
    transition: 2ms;
    cursor: pointer;
}

.background {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(18, 18, 18), rgba(9, 9, 9, 0.458), rgb(0, 0, 0));
}

.item-tex {

    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 147px;

}

h1 {
    font-size: 45px;
    font-weight: 900;
}

p {
    font-size: 20px;
}

#tex {
    font-size: 27px;
}

.items-input {
    background-color: rgba(20, 21, 22, 0.553);
    border: solid #a0a0a0 1px;
    color: white;
    width: 23%;
    height: 4.6em;
    padding-left: 2em;

    border-radius: 5px;

    /* display: flex; */
}

.input>button {
    width: 13%;
    height: 2.5em;
    background-color: #E50914;
    color: white;
    border: none;
    font-size: 25px;
    padding: 0%;
    border-radius: 5px;
    transition: 2ms;
    cursor: pointer;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    gap: 1em;

}

button:hover {
    background-color: #bb040d;
}

.container {
    display: flex;
    /* grid-template-columns: 50% auto; */
    /* grid-row: 1; */

    flex-direction: row;
    color: white;
    border-top: solid #2b2a2a 8px;
    height: 80%;
    border: 3%;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    /* column-gap: 15%; */
    overflow: hidden;
    column-gap: 15em;
/* align-content: center; */
}

.container>img {
    width: 40%;
    height: 70%;
    /* border: solid rebeccapurple 3px; */
    position: absolute;
    overflow: hidden;
    /* z-index: -1; */

    margin-left: 50em;
}



video {
    width: 19%;
    /* height: +1; */
    /* z-index: 1; */
    overflow: hidden;
    /* margin: 0 50% 20% 0; */
}

.inside-container {

    flex-flow: row-reverse;
    



    flex-direction: row;
    color: white;
    border-top: solid #2b2a2a 8px;
   
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    /* column-gap: 15%; */
    overflow: hidden;
    /* column-gap: 10em; */
}

.inside-container>img {
    margin: 0;

}

.inside-container {
    display: flex;
    flex-direction: row;
}